.App {
  text-align: center;
}

.sidebar {
  position: fixed;
  width: 40px;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  z-index: 2000;
}

.sidebar:hover {
  width: 150px;
}

.sidebar ul {
  position: absolute;
  top: 0;
  left: 0;
  padding-inline-start: 0;
  width: 100%;
}

.sidebar ul li {
  position: relative;
  padding-left: 10px;
  width: 100%;
  list-style: none;
}

.sidebar ul li:hover {
  background-color: aqua;
}

.sidebar ul li .a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
}

.sidebar ul li Link .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
}
